# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.*.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
.idea
.phpstorm.meta.php
.phpunit.cache
/storage/logs/*.log

# Laravel cache & compiled
bootstrap/cache/*.php
bootstrap/cache/*.cache

# NPM / Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vue.js build
/public/js/*
/public/css/*
/public/mix-manifest.json
/public/hot
/public/build

# Editor & system files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.swm

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Optional: lock files (tuỳ team)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
mysql_data